/doc/
/src/
/AUTHORS
/COPYING
/COPYING.LGPL
/COPYING.MIT
/ChangeLog
/INSTALL
/Makefile.am
/Makefile.in
/NEWS
/README
/TODO
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.rpath
/config.sub
/configure
/configure.ac
/depcomp
/dovecot-config.in.in
/dovecot-version.h
/dovecot.m4
/dovecot.service.in
/dovecot.socket
/install-sh
/libtool.m4
/ltmain.sh
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/missing
/run-test-valgrind.supp
/stamp.h.in
/update-version.sh
